* {
  background: gray;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: 1px solid red;

}

body {
  min-height: 100vh;
}

figure:hover {
  transform: scale(1.2);
  cursor: pointer;
}

img {
  width: 350px;
  height: 350px;
}

figcaption {
  margin: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
}

footer {
  position: sticky;
  top: 100%;
}